.aboutdiv {
  background-color: #000;
  width: -webkit-fill-available;
  background-size: cover;
  align-items: center;
  height: 180vh;
  display: flex;
  flex-direction: column;
}
#site-link{
  color: #ffffff;
  text-decoration: none;
  font-family: "Poppins";
}
h1 {
  color: white;
}
p {
  color: white;
  font-size: 20px;
  padding: 50px;
  font-family: "Poppins";
  letter-spacing: 1px;
  text-align: start;
  text-transform: capitalize;
  font-weight: 700;
}
.Portabout {
  font-size: 20px;
  padding: 5px;
  border-radius: 0px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  font-family: "Poppins";
  width: 100px;
  font-weight: 700;
}
.Portabout:hover {
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  border-radius: 0px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  font-family: serif;
  width: 100px;
  font-weight: 700;
}
.my-img {
  width: 50%;
  border-radius: 60px;
}
.about-h {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-data ol {
  list-style: none;
}
.about-img {
  width: 50%;
}
.about-data {
  width: 50%;
  text-align: start;
  font-weight: bold;
  font-family:serif;
  font-size: 25px;
}
@media (120px <= width <= 320px) {
  .aboutdiv {
    background-image: url(./1.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    width: -webkit-fill-available;
    height: 250vh;
    display: flex;
    flex-direction: column;

    text-align: center;
    color: white;
  }
  p {
    color: white;
    font-size: 12px;
    padding: 0px 50px;
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: start;
  }
  .my-img {
    width: 100%;
    border-radius: 45px;
  }
  .about-h {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
  }
  .about-data ol {
    list-style: none;
  }
  .about-img {
    width: 50%;
  }
  .about-data {
    width: 100%;
    text-align: start;
    font-weight: bold;
    font-family: "serif";
    font-size: 13px;
    margin-top: 10px;
  }
}
@media (321px <= width <= 375px) {
  .aboutdiv {
    background-image: url(./1.jpg);
    background-size: cover;
    width: -webkit-fill-available;
    height: 230vh;
    display: flex;
    flex-direction: column;

    text-align: center;
    color: white;
  }
  p {
    color: white;
    font-size: 12px;
    padding: 0px 50px;
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: start;
  }
  .my-img {
    width: 100%;
    border-radius: 45px;
  }
  .about-h {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
  }
  .about-data ol {
    list-style: none;
  }
  .about-img {
    width: 50%;
  }
  .about-data {
    width: 100%;
    text-align: start;
    font-weight: bold;
    font-family: "serif";
    font-size: 13px;
    margin-top: 10px;
  }
}
@media (376px <= width <= 425px) {
  .aboutdiv {
    background-image: url(./1.jpg);
    background-size: cover;
    width: -webkit-fill-available;
    height: 210vh;
    display: flex;
    flex-direction: column;

    text-align: center;
    color: white;
  }
  p {
    color: white;
    font-size: 12px;
    padding: 0px 50px;
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: start;
  }
  .Portabout {
    font-size: 20px;
    padding: 5px;
    border-radius: 0px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    font-family: "Poppins";
    width: 100px;
    font-weight: 700;
  }
  .my-img {
    width: 100%;
    border-radius: 45px;
  }
  .about-h {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: -webkit-fill-available;
  }
  .about-data ol {
    list-style: none;
  }
  .about-img {
    width: 50%;
  }
  .about-data {
    width: 100%;
    text-align: start;
    font-weight: bold;
    font-family: "serif";
    font-size: 13px;
    margin-top: 10px;
  }
}
