h1 {
  color: white;
}
p {
  color: white;
  font-size: 20px;
  padding: 50px;
  font-family: "Poppins";
  letter-spacing: 1px;
  text-align: start;
}
.Portabout {
  font-size: 20px;
  padding: 13px;
  border-radius: 17px;
  background-color: #4e4e4e;
  color: white;
  border: none;
}

@media (max-width: 320px) {
  .aboutdiv {
    background-image: url("https://wallpapercave.com/wp/wp5942140.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    width: -webkit-fill-available;
    height: 38em;
    display: flex;
    flex-direction: column;

    text-align: center;
    color: white;
  }
}
@media (max-width: 375px) and (max-height: 577px) {
  .aboutdiv {
    background-image: url("https://wallpapercave.com/wp/wp5942140.jpg");
    background-size: cover;
    width: -webkit-fill-available;
    height: 38em;
    display: flex;
    flex-direction: column;

    text-align: center;
    color: white;
  }
}
@media (max-width: 425px) and (max-height: 577px) {
  .aboutdiv {
    background-image: url("https://wallpapercave.com/wp/wp5942140.jpg");
    background-size: cover;
    width: -webkit-fill-available;
    height: 38em;
    display: flex;
    flex-direction: column;

    text-align: center;
    color: white;
  }
}
