p {
  color: white;
  font-size: 20px;
  padding: 50px;
  font-family: "Poppins";
  letter-spacing: 1px;
  text-align: start;
}

@media (max-width: 320px)  {
    .portdiv {
      background-image: url("https://wallpapercave.com/wp/wp5942140.jpg");
      background-size: cover;
      width: -webkit-fill-available;
      height: 150vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: white;
    }
    p {
      color: white;
      font-size: 12px;
      padding: 50px;
      font-family: "Poppins";
      letter-spacing: 1px;
      text-align: justify;
    }
     
  }
@media (max-width: 375px)  {
    .portdiv {
      background-image: url("https://wallpapercave.com/wp/wp5942140.jpg");
      background-size: cover;
      width: -webkit-fill-available;
      height: 150vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: white;
    }
    p {
      color: white;
      font-size: 12px;
      padding: 50px;
      font-family: "Poppins";
      letter-spacing: 1px;
      text-align: justify;
    }
     
  }
@media (max-width: 425px)  {
    .portdiv {
      background-image: url("https://wallpapercave.com/wp/wp5942140.jpg");
      background-size: cover;
      width: -webkit-fill-available;
      height: 150vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      color: white;
    }
    p {
      color: white;
      font-size: 12px;
      padding: 50px;
      font-family: "Poppins";
      letter-spacing: 1px;
      text-align: justify;
    }
     
  }