 
.portdiv {
  background-color: #000;
  background-size: cover;
  color: white;
  width: -webkit-fill-available;
  height: 120vh;
}
.port1 img{
  width: 60%;
   
}
.port1  {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.port1p  {
  padding: 0;
}
.port1h{
  padding: 0;
}
.portnow{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
 border-radius: 40px;
}
@media (120px <= width <= 320px) {
  .portdiv {
    background-image: url("./1.jpg");
    background-size: cover;
    width: -webkit-fill-available;
    height: 200vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
  }
  p {
    color: white;
    font-size: 12px;
    padding: 50px;
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: start;
  }
}
.port1 img{
  width: 70%;
   
}
.port1  {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.port1p  {
  padding: 0;
  text-align: center;
}
@media (321px <= width <= 375px) {
  .portdiv {
    background-image: url("./1.jpg");
    background-size: cover;
    width: -webkit-fill-available;
    height: 150vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
  }
  p {
    color: white;
    font-size: 12px;
    padding: 0px 50px;
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: start;
  }
}
@media (376px <= width <= 425px) {
  .portdiv {
    background-image: url("./1.jpg");
    background-size: cover;
    width: -webkit-fill-available;
    height: 130vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
  }
  p {
    color: white;
    font-size: 12px;
    padding: 50px;
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: start;
  }
}
