.blogdiv {
  background-color: #000;
  background-size: cover;
  color: white;
  width: -webkit-fill-available;
  height: 180vh;
}
.image-blog {
  width: 50%;
}
.blog-data {
  color: white;
  font-size: 18px;
  padding: 0px 50px;
  font-family: "Poppins";
  letter-spacing: 1px;
  text-align: start;
  text-transform: lowercase;
}
.blog-datah {
  color: white;
  font-size: 22px;
  padding: 0px 50px;
  font-family: "Poppins";
  letter-spacing: 1px;
  text-align: start;
  text-transform: uppercase;
  font-weight: bold;

}
 
@media (200px <= width <= 320px) {
  .blogdiv {
    background-image: url("./1.jpg");
    background-size: cover;
    width: -webkit-fill-available;
    height: 270vh;
    display: flex;
    flex-direction: column;

    text-align: center;
    color: white;
  }
  h2 {
    padding: 45px 45px 0px 45px;
    text-align: start;
  }
  .blog-data {
    color: white;
    font-size: 12px;
    padding: 0px 50px;
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: start;
    text-transform: uppercase;
  }
}
@media (321px <= width <= 375px) {
  .blogdiv {
    background-image: url("./1.jpg");
    background-size: cover;
    width: -webkit-fill-available;
    height: 220vh;
    display: flex;
    flex-direction: column;

    text-align: center;
    color: white;
  }
  h2 {
    padding: 45px 45px 0px 45px;
    text-align: start;
  }
  .blog-data {
    color: white;
    font-size: 12px;
    padding: 0px 50px;
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: start;
    text-transform: uppercase;
  }
}
@media (376px <= width <= 425px) {
  .blogdiv {
    background-image: url("./1.jpg");
    background-size: cover;
    width: -webkit-fill-available;
    height: 170vh;
    display: flex;
    flex-direction: column;

    text-align: center;
    color: white;
  }
  h2 {
    padding: 45px 45px 0px 45px;
    text-align: start;
  }
  .blog-data {
    color: white;
    font-size: 12px;
    padding: 0px 50px;
    font-family: "Poppins";
    letter-spacing: 1px;
    text-align: start;
    text-transform: uppercase;
  }
}
