.App {
  text-align: center;
  display: flex;
  
}
.route{
  font-family: monospace;
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: flex;
  margin: 35px;
  flex-direction: column;
   
  align-items: center;
  justify-content: center;
}
 
/* .route:hover{
 
  background-color: black;
  font-family: monospace;
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
} */
.routediv{
  position: relative;
  background-color: rgb(255, 255, 255);
  height: 46em;
  display: flex;
  flex-direction: column;
  width: 15%;
  border-right: 1px solid rgb(226, 226, 226);
}
.home{
  text-align: center;
  width: 85%;
  display: flex;
   
}
.logo{
  color: #000;
  text-decoration: none;
  font-family: system-ui;
}